th {
  font-size:14pt;
  text-align:left;
  padding:5px 20px;
  margin:0px;
  border-bottom:1px solid gray;
}
td {
  font-size:14pt;
  font-weight:plain;
  text-align:left;
  padding:5px 20px;
  margin:0px;
  border-bottom:1px solid gray;
}
